p {
    color: black;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

h1,h2,h3,h4 {
    color: black;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}
​
​
​
/*<-------------------------Welcome Page Carousel------------------------->*/
​
.carousel-control {
  border: 10px 50px 10px 10px;
}
​
#one {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-inner>.item>img {
    width: 750px;
    line-height: 1;
    height: 600px;
    border: solid #1a75ff 5px;
    margin: 0px;
    padding: 5px;
    border-radius: 20px 80px 20px 80px;
}

.acts {
  margin-top: 50px;
  height: 130px;
  padding: 5px;
  border-radius: 10px;
}

.custom-class {
  border: solid #1a75ff 5px;
  margin-left: -50px;
  padding: 5px;
  width: 100%;
  height: 60%;
  margin-left: -14%px;
  margin-top: 7px;
  margin-bottom: 7px;

}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

/*#hobbies {
    position: relative;
    left: 14%;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;

}*/
#home {
    background-image: url(assets/images/welcome.jpeg);
    background-position: center;
    /* background-repeat: no-repeat; */
    width: 70%;
    height: 600px;
    position: relative;
    left: 190px;
    top: 120px;
    border-radius: 200px 70px 200px 70px;
    box-shadow: 7px 5px 10px #888888;
}  

#myCarousel {
    width: 750px; 
    height: 600px;
    position: relative;
    left: 170px;
    padding: solid red 5px;
    border-radius: 20px 80px 20px 80px;
    box-shadow: 10px 5px 10px 2px #888888;
}

#line {
    margin-left: 93%;
}

#recent {
  margin-left: 93%;
  margin-right: 0px;
}

#friends {
  margin-left: 93%;
  margin-right: 0px;
}

.carousel-control.right {
    border-radius: 20px 80px 20px 80px;
    color: cyan;
    visibility: none;
}

.carousel-control.left {
    border-radius: 20px 80px 20px 80px;
    color: cyan;
    visibility: none;
}
/*<-------------------------End Welcome Page Carousel------------------------->*/
​
​
​
/*<-------------------------Youtube Videos------------------------->*/
iframe {
  border: solid red 5px;
  border-radius: 5px;
}  
​
.video-div {
  margin: 10px;
  width: 100%;
  border: solid red 5px;
  padding: 5px;
}
​
.video-number {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 5px;
}
​
.video-number iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*<-------------------------End Youtube Videos------------------------->*/
​
​
​
/*<-------------------------PixaBay Pictures------------------------->*/
#pics {
  padding: 5px;
}

.like {
  margin-top: 5px;
  margin-bottom: 5px;
}

.like-image {
  margin: 15px;

}
/*<-------------------------End PixaBay Pictures------------------------->*/
​
/*<------------------------------Page Sections------------------------------>*/
#two, #three, #five {
  padding: 50px;
}
​
#one {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
​
#two {
  background-image: url("https://cocoalakedesign.files.wordpress.com/2009/08/linds21.jpg?w=1024&amp;h=636");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*<------Section Two Hobbies Buttons------>*/
.button-raised.button-primary {
  border-color: #1a75ff;
  background: #1a75ff;
}
​
.button-raised.button-primary:hover {
  border-color: pink;
  background: pink;
}
​
.acts {
  height: 7%;
  width: 7%;
}

.button-circle.button-giant, .button-box.button-giant, .button-square.button-giant{
  width: 112px;
}
​
.button-raised.button-primary:hover {
  border-color: pink;
  background: pink;
}

/*<------End Section Two Hobbies Buttons------>*/
​
#five {
  background-image: url("http://www.designbolts.com/wp-content/uploads/2012/11/Free-Stressed-linen-patterns.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*<------------------------------End Page Sections------------------------------>*/
​
​
/*<------------------------------Chat------------------------------>*/
.usernameSpan, .usernameSpanHome {
  font-weight: bold;
  color: #1a75ff;
  cursor: pointer;
}

#chat-top {
    height: 400px;
    width: 100%;
    background-image: url("assets/images/ny.png");
    margin: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#chat-box {
  margin-top: 10px;
  border: 2px solid #1a75ff;
  border-radius: 50px;
  max-height: 500px;
  overflow: auto;
  padding: 25px;
  margin-bottom: 10px;
}

.current-user-message, .other-user-message {
  max-width: 55%;
  min-width: 30%;
  min-height: 60px;
  border-radius: 15px;
  margin: 5px;
  padding: 8px;
  overflow: auto;
  clear: both;
}

.current-user-message {
  float: right;
  background-color: #1a75ff;
  color: white;
}

.other-user-message {
  float: left;
  background-color: #f8ffb2;
}
/*<------------------------------End Chat------------------------------>*/


/*<-------------------------Navbar------------------------->*/
#myNavbar a {
  color: white;
  transition: all 0.23s ease-in-out;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
}

#myNavbar a:hover {
  background-color: #75acff;
  cursor: pointer;
}

#myNavbar a:active {
  background-color: #1251b2;
}

.active1 {
  background-color: #1251b2;
  pointer-events: none;
}
/*<-------------------------End Navbar------------------------->*/




 /*<-------------------------Media Queries------------------------->*/
@media only screen and (max-width: 768px) {
    section{
      width: 100%
    }

    iframe{
        width: 90%;
    }

    .video-div {
      width: 100%;
    }

    #myCarousel {
      width: 100%;
    }

}

@media screen and (max-width: 640px) {
    .video-div {
      width: 100%;
    }
    iframe{
        width: 90%;
    }
}


