img {
    padding: 15px;
    height: 40%;
    width: 40%;
}
img:hover {
    transform: scale(1.4);
    transition: all ls;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px 10px gold;
    box-shadow: 0px 0px 15px 10px gold;
}
.navbar navbar-inverse{
width: 100%;
color: purple;
background: ghostwhite;
color: pink
}
.navbar-inverse .navbar-nav>li>a{
    color: salmon;
}
footer{
    background: ghostwhite;
    padding: 30px 0;
    clear: both;
    border-top: 8px solid maroon;
    font-size: 12px;
    text-align: center;    
    color: purple;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-size: 20px;
}
#vidsOrPics{
        position: absolute;
        z-index: 15;
        top: 50%;
        left: 50%;
        margin: -200px 0 0 -350px;
}
.navbar-inverse .navbar-brand{
    color: salmon;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    color: salmon;
}


/*--------------responsive video players---------------*/
#player {
    width: 80%;
    text-align: center;
    margin: auto;
}

.video-div {
    margin: 10px;
    width: 45%;
    float:left;
}

.video-number {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin-bottom: 5px;
}

.video-number iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 640px) {
    .video-div {
        width: 100%;
    }
}

/*--------------responsive video players---------------*/